.footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    padding: 30px;
    border-top: 1px solid lightgrey;
}

footer h2 {
    font-size: 1.1rem;
    color: black;
}

.contacts ul {
    list-style-type: none;
}

.contacts ul li {
    font-size: 1.2rem;
}

.contacts ul li img {
    width: 25px;
    margin: 0 5px 5px 0;
    vertical-align: middle;
}

.contacts ul li:last-child img {
    margin-bottom: 0;
}

.copyright {
    margin: auto 0;
}

@media screen and (max-width: 600px) {
    .footer-wrap {
        width: 80%;
    }
}