* {
    font-size: 16px;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

.container {
    margin: 30px 0 30px 0;
}

.container-stick {
    margin: 130px 0 30px 0;
}

.bigHeader {
    font-size: 3rem;
    color: #65c3ba;
    margin-left: 0;
}

.darkHeader {
    font-size: 3rem;
    color: #000040;
    text-align: center;
}

.mainPanel h1 {
    font-size: 3rem;
    color: #65c3ba;
    text-align: center;
    margin-bottom: 30px;
}

.mainPanel p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 20px;
}

.slideshow {
    width: 100%;
    height: 500px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 30px;
}

.slideshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    display: inline-block;
}

.slideshow img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
}

.slideshow img:nth-of-type(2) {
    z-index: 10;
}

.slideshow img:nth-of-type(n+3) {
    display: none;
}

.perks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.perk {
    max-width: 400px;
    margin: 0 40px;
    text-align: center;
}

@keyframes fader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.mainSection {
    margin: 0 20%;
}

.fancyHeader {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    background: rgb(0, 0, 64);
    background: linear-gradient(90deg, rgba(0, 0, 64, 1) 0%, rgba(101, 195, 186, 1) 50%, rgba(255, 255, 255, 1) 100%);
    padding: 10px 5px;
}

h2 {
    font-size: 1.6rem;
    color: #65c3ba;
    margin-bottom: 10px;
}

.mainSection p {
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.para {
    margin-bottom: 15px;
}

.priceTable {
    border-collapse: collapse;
    width: 100%;
}

.priceTable th,
.priceTable td {
    padding: 10px 15px;
    text-align: left;
}

.priceTable thead,
.priceTable td[colspan="4"] {
    background-color: #65c3ba;
    color: white;
    font-size: 1.2rem;
}

.priceTable td[colspan="4"] {
    text-align: center;
}

.priceTable th {
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
}

.priceTable tr:nth-child(even) {
    background-color: #E8E8E8;
}

.mainSection ol li {
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.mainSection ol {
    margin: 0 0 15px 20px;
}

.niceList {
    list-style: none;
}

.niceList .item {
    font-size: 1.2rem;
    margin-bottom: 8px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
}

.niceList .item p {
    width: 80%;
    margin: auto 0;
}

.niceList .item div {
    color: darkgray;
    font-size: 2rem;
    margin: auto 0 auto 30px;
    transition: all 0.5s ease;
}

.niceList .item:hover div {
    margin: auto 5px;
    color: #65c3ba;
}

ol {
    counter-reset: li;
    list-style: none;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ol li {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #D3D4DA;
    color: black;
    text-decoration: none;
    transition: all .3s ease-out;
    border-radius: 3px;
}

ol li:hover {
    background: #f0f0f0;
}

ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #65c3ba;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

ol li:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

ol li:hover:after {
    left: -.5em;
    border-left-color: #65c3ba;
}

.wideImg {
    width: 100%;
}

.para a {
    text-decoration-color: #65c3ba;
}

.link {
    transition: 0.5s;
    font-size: 1.4rem;
    color: #65c3ba;
}

.link:hover {
    color: #000040;
}

#message {
    display: none;
    color: white;
    background-color: #65c3ba;
    max-width: 400px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 7px;
    font-size: 1.4rem;
    padding: 20px;
    display: none;
    z-index: 40;
}

#messageClose {
    width: 10px;
    filter: invert(100%);
    position: fixed;
    bottom: 60px;
    left: 20px;
    z-index: 41;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 600px) {
    * {
        font-size: 10px;
    }
    .mainPanel {
        padding: 20px 0;
    }
    .mainPanel h1 {
        font-size: 2rem;
    }
    .mainSection {
        margin: 0 5px;
    }
    .container {
        margin: 40px 0 30px 0;
    }
    .darkHeader {
        font-size: 2rem;
    }
    .slideshow {
        height: 200px;
    }
    .perk img {
        max-width: 96px;
    }
    ol li {
        margin-left: 10px;
    }
    #messageClose {
        bottom: 50px;
    }
}